<h1>{{valtozo}}</h1>
<form [formGroup]="drinkForm" (ngSubmit)="addDrink()">
    
    <div>
      <label for="name">Name:</label>
      <input id="name" type="text" formControlName="name">
    </div>
    
    <div>
      <label for="category">Category:</label>
      <input id="category" type="text" formControlName="category">
    </div>
    
    <div>
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <input type="file" (change)="onFileSelected($event)" />
    
    <button type="submit">Adj hozzá új italt!</button>
  </form>